<%= @shop.id%>

<div>
  <div class="pb-4">
    <h1><%= @shop.name %>'s shops</h1>
  </div>

  <div class="rounded overflow-hidden shadow-lg grid grid-cols-4 gap-4">
    <% @products.each do |product| %>
    <div class="px-6 py-4">
      <img class="w-full" src="https://fakeimg.pl/300/" alt="Sunset in the mountains">
        <div class="font-bold text-xl mb-2"><%= product.name %></div>
        <div class="buttonofgotoshop flex content-center">
          <button class="gotoshop_button bg-blue-500 hover:bg-blue-700 text-white font-bold rounded-lg mx-auto">
            <%= link_to "Deatail", product%>
          </button>
        </div>
    </div>
    <% end %>
</div>

